<h1>Estos son mis productos</h1>

<div class="productContainer">
{{#each productos}}
        <div class="cards">
            <h2>Nombre: {{this.title}}</h2>
            <p>Precio: {{this.price}}</p>
            <p>Codigo: {{this.code}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Categoria: {{this.category}}</p>
        </div>
{{/each}}
</div>


<script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
<script src="js/main.js"></script>


